<ActionBar title="My App" class="action-bar">
</ActionBar>
<!--<StackLayout class="page">
    <ListView [items]="items" class="list-group">
        <template let-item="item">
            <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"
                class="list-group-item"></Label>
        </template>
    </ListView>
</StackLayout>-->

<Accordion [items]="items" itemTapped="tapped" headerTextBold="true" headerTextColor="white" headerColor="pink" headerTextColor="blue"
    allowMultiple="true" id="ac" selectedIndex="1">

    <template accordionHeaderTemplate let-item="item" let-i="index">
        <GridLayout backgroundColor="green" columns="auto,*">
            <Label text="{{item.title}}"></Label>
        </GridLayout>
    </template>

    <template accordionItemTemplate let-item="item" let-i="index">
        <Image src="{{item.image}}"></Image>
        <!--<StackLayout>
            <Image src="~/images/a9ff17db85f8136619feb0d5a200c0e4.png"></Image>
            <Label [text]="$value"></Label>
        </StackLayout>-->
    </template>


    <!--<template accordionFooterTemplate>
        <GridLayout backgroundColor="yellow" columns="auto,*">
            <Label text="{{footer}}"></Label>
            <Label col="1" text="-"></Label>
        </GridLayout>
    </template>-->

</Accordion>